<% if signed_in? %>
    <div class="row">
      <div align="center">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= link_to (tests_path) do %>
                <button type="button" class="btn btn-default btn-lg"><%= (I18n.t 'menu.test') %> <span class="badge"><%= @tests.count %></span></button>
            <% end %>
            <%= link_to (tests_path) do %>
                <button type="button" class="btn btn-default btn-lg"><%= (I18n.t 'menu.house') %> <span class="badge"><%= @homes.count %></span></button>
            <% end %>
            <%= link_to (tests_path) do %>
                <button type="button" class="btn btn-default btn-lg"><%= (I18n.t 'menu.appartment') %> <span class="badge"><%= @appartments.count %></span></button>
            <% end %>
            <%= link_to (tests_path) do %>
                <button type="button" class="btn btn-default btn-lg"><%= (I18n.t 'menu.earth') %> <span class="badge"><%= @earths.count %></span></button>
            <% end %>
          </div>
        </div>

      </div>
    </div>
<% else %>
    <div class="center jumbotron">
      <h1>CBA APPRAISER</h1>
      <h2>
        <%= 'Система расчета оценки для банков' %>
      </h2>

      <%= link_to 'Регистрация', signup_path,
                  class: "btn btn-large btn-primary" %>
      <h5 align="center" style="padding-top: 10px;">
        <%= link_to 'Вход', signin_path %>
      </h5>

    </div>

<% end %>