<% if signed_in? %>
      <div class="10 offset1">
          <div class="span4">
            <h2>Данные банка</h2>
            <%= link_to (houses_path) do %>
                <div class="tile bg-cyan">
                  <div class="tile-content icon">
                    <i class="icon-home"></i>
                  </div>
                  <div class="tile-status">
                    <span class="name"><%= (I18n.t 'menu.house') %></span>
                    <div class="badge bg-red"><%= @houses.count %></div>
                  </div>
                </div>
          <% end %>
            <%= link_to (apartments_path) do %>
                <div class="tile bg-amber">
                  <div class="tile-content icon">
                    <i class=" icon-key-2"></i>
                  </div>
                  <div class="tile-status">
                    <span class="name"><%= (I18n.t 'menu.appartment') %> </span>
                    <div class="badge bg-red"><%= @apartments.count %></div>
                  </div>
                </div>
            <% end %>

            <%= link_to (earths_path) do %>
                <div class="tile bg-green">
                  <div class="tile-content icon">
                    <i class="icon-pie"></i>
                  </div>
                  <div class="tile-status">
                    <span class="name"><%= (I18n.t 'menu.earth') %> </span>
                    <div class="badge bg-red"><%= @earths.count %></div>
                  </div>
                </div>
            <% end %>
          </div>
        <div class="span4">
          <h2>Данные аналога</h2>
        <%= link_to (anearts_path) do %>
            <div class="tile bg-lightGreen">
              <div class="tile-content icon">
                <i class="icon-chart-alt"></i>
              </div>
              <div class="tile-status">
                <span class="name">Аналоги земля</span>
                <div class="badge bg-red"><%= @anearts.count %></div>
              </div>
            </div>
        <% end %>
        <%= link_to (anaprtments_path) do %>
            <div class="tile bg-lightOrange">
              <div class="tile-content icon">
                <i class="icon-key"></i>
              </div>
              <div class="tile-status">
                <span class="name">Аналоги квартир</span>
                <div class="badge bg-red"><%= @anaprtments.count %></div>
              </div>
            </div>
        <% end %>
     </div>
        <div class="span4">
          <h2>Настройки</h2>
<%= render 'shared/tiles_user' %>

        </div>

      </div>
<% else %>
    <div class="center jumbotron">
      <h1>CBA APPRAISER</h1>
      <h2>
        <%= 'Система расчета оценки для банков' %>
      </h2>

      <%= link_to 'Регистрация', signup_path,
                  class: "button large bg-green" %>
      <h5 align="center" style="padding-top: 10px;">
        <%= link_to 'Вход', signin_path, class: "button large bg-yellow" %>
      </h5>

    </div>

<% end %>