<% if signed_in? %>
    <div class="row">
      <div align="center">
        <div class="panel panel-default">
          <div class="panel-body">
            <%= link_to (houses_path) do %>
                <div class="tile bg-cyan">
                  <div class="tile-content icon">
                    <i class="icon-home"></i>
                  </div>
                  <div class="tile-status">
                    <span class="name"><%= (I18n.t 'menu.house') %></span>
                    <div class="badge"><%= @houses.count %></div>
                  </div>
                </div>
          <% end %>
            <%= link_to (apartments_path) do %>
                <div class="tile bg-amber">
                  <div class="tile-content icon">
                    <i class=" icon-key-2"></i>
                  </div>
                  <div class="tile-status">
                    <span class="name"><%= (I18n.t 'menu.appartment') %> </span>
                    <div class="badge"><%= @apartments.count %></div>
                  </div>
                </div>
            <% end %>
            <%= link_to (earths_path) do %>
                <div class="tile bg-green">
                  <div class="tile-content icon">
                    <i class="icon-pie"></i>
                  </div>
                  <div class="tile-status">
                    <span class="name"><%= (I18n.t 'menu.earth') %> </span>
                    <div class="badge"><%= @earths.count %></div>
                  </div>
                </div>
            <% end %>
          </div>
        </div>

      </div>
    </div>
<% else %>
    <div class="center jumbotron">
      <h1>CBA APPRAISER</h1>
      <h2>
        <%= 'Система расчета оценки для банков' %>
      </h2>

      <%= link_to 'Регистрация', signup_path,
                  class: "btn btn-large btn-primary" %>
      <h5 align="center" style="padding-top: 10px;">
        <%= link_to 'Вход', signin_path %>
      </h5>

    </div>

<% end %>