<%= form_for(@capartment) do |f| %>
  <% if @capartment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@capartment.errors.count, "error") %> prohibited this capartment from being saved:</h2>

      <ul>
      <% @capartment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Торг' %><br>
    <%= f.number_field :auction %>
  </div>
  <div class="field">
    <%= f.label 'Тип будинку' %><br>
    <%= f.number_field :tip_house %>
  </div>
  <div class="field">
    <%= f.label 'Категорія ремонту' %><br>
    <%= f.number_field :value_repair %>
  </div>
  <div class="field">
    <%= f.label 'Відмінність єтажності'  %><br>
    <%= f.number_field :storey %>
  </div>
  <div class="field">
    <%= f.label 'Відмінність кількості кімнат' %><br>
    <%= f.number_field :rooms %>
  </div>
  <div class="field">
    <%= f.label 'Скоригована вартість' %><br>
    <%= f.text_field :adj_cost_value %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
