<%= form_for(@aneart) do |f| %>
  <% if @aneart.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@aneart.errors.count, "error") %> prohibited this aneart from being saved:</h2>

      <ul>
      <% @aneart.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :district_number %><br>
    <%= f.text_field :district_number %>
  </div>
  <div class="field">
    <%= f.label :analogs_address %><br>
    <%= f.text_field :analogs_address %>
  </div>
  <div class="field">
    <%= f.label :area %><br>
    <%= f.text_field :area %>
  </div>
  <div class="field">
    <%= f.label :purpose %><br>
    <%= f.text_field :purpose %>
  </div>
  <div class="field">
    <%= f.label :value_proposition_usd %><br>
    <%= f.text_field :value_proposition_usd %>
  </div>
  <div class="field">
    <%= f.label :information_source %><br>
    <%= f.text_field :information_source %>
  </div>
  <div class="field">
    <%= f.label :value_proposition_usdone %><br>
    <%= f.text_field :value_proposition_usdone %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
