<div class="span12">
  <h3 align="center">Аналоги земли</h3>
  <div class="row">
    <div class="span4">
      <div class="panel" data-role="panel">
        <div class="panel-header bg-lime fg-white">
          <%= (I18n.t 'button.import') %> *XLS
        </div>
        <div class="panel-content">
          <%= form_tag import_anearts_path, multipart: true do %>
              <%= file_field_tag :file %>
              <%= submit_tag (I18n.t 'button.import'), class: "button default fg-white" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="panel" data-role="panel">
        <div class="panel-header bg-lightOrange fg-white">
          <%= (I18n.t 'button.download') %> (*.XLS for Microsoft office)
        </div>
        <div class="panel-content">
          <h5 align="center">
          <button class="image-button primary">
            <%= link_to (I18n.t 'button.download') + ' *CSV', anearts_path(format: "csv")%>
            <i class="icon-download-2"></i>
          </button>
          <button class="image-button primary">
            <%= link_to (I18n.t 'button.download') + ' *XLS', anearts_path(format: "xls")%>
            <i class="icon-download-2"></i>
          </button>
          </h5>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="panel" data-role="panel">
        <div class="panel-header bg-yellow fg-white">
          <%= 'Обработка загруженных данных' %>
        </div>
        <div class="panel-content">
          <div class="row">
            <div class="span6">
              <h5 align="center"><%= link_to "Обработать данные", calc_earths_path, class: "button default bg-green fg-white" %></h5>
            </div>
            <div class="span6">
              <h5 align="center">
              <% if @anearts.empty?%>
              <% else %>
                  <%= link_to "Очистить базу", anearts_destroy_all_index_path, data: { confirm: 'Are you sure?' }, class: "button default bg-red fg-white" %>
              <% end %>
                  </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="panel" data-role="panel">
  <div class="panel-header bg-cyan fg-white">
    Список аналогов земли
  </div>
  <div id="dialog2" class="window">
    <div class="caption">
      <span class="icon icon-windows"></span>
      <div class="title">Запись аналога земли</div>
    </div>
    <div class="content">
      <%= render 'shared/aneart_new'%>
    </div>
  </div>
  <button id="opener2" class="button large info">Новая запись</button>
  <div class="panel-content">

    <div align="center">
      <%= will_paginate %>
    </div>
    <div class="overflow">
    <table class="table table-striped table-hover hovered striped bordered">
  <thead>
    <tr>
      <th>№ района</th>
      <th>Аналоги, адреса</th>
      <th>Площа, кв.м.</th>
      <th>Призначення</th>
      <th>Вартість пропозиції/дол. США</th>
      <th>Джерело інформації</th>
      <th>Вартість пропозиції, дол. США/м2</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @anearts.each do |aneart| %>
      <tr>
        <td><%= aneart.district_number %></td>
        <td><%= aneart.analogs_address %></td>
        <td><%= aneart.area %></td>
        <td><%= aneart.purpose %></td>
        <td><%= press(aneart.value_proposition_usd) %></td>
        <td><%= aneart.information_source %></td>
        <td><%= press(aneart.value_proposition_usdone) %></td>
        <td><%= link_to 'Edit', edit_aneart_path(aneart), class: "button normal bg-orange fg-white" %></td>
        <td><%= link_to 'Destroy', aneart, method: :delete, data: { confirm: 'Are you sure?' }, class: "button normal bg-red fg-white" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div align="center">
  <%= will_paginate %>
</div>
</div>
</div>
<div id="dialog" class="window">
  <div class="caption">
    <span class="icon icon-windows"></span>
    <div class="title">Запись аналога земли</div>
  </div>
  <div class="content">
<%= render 'shared/aneart_new'%>
  </div>
</div>
<!--<button id="opener"  class="button large info">Новая запись</button>-->
</div>