<p id="notice"><%= notice %></p>

<p>
  <strong>District number:</strong>
  <%= @aneart.district_number %>
</p>

<p>
  <strong>Analogs address:</strong>
  <%= @aneart.analogs_address %>
</p>

<p>
  <strong>Area:</strong>
  <%= @aneart.area %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @aneart.purpose %>
</p>

<p>
  <strong>Value proposition usd:</strong>
  <%= @aneart.value_proposition_usd %>
</p>

<p>
  <strong>Information source:</strong>
  <%= @aneart.information_source %>
</p>

<p>
  <strong>Value proposition usdone:</strong>
  <%= @aneart.value_proposition_usdone %>
</p>

<%= link_to 'Edit', edit_aneart_path(@aneart) %> |
<%= link_to 'Back', anearts_path %>
