<p id="notice"><%= notice %></p>

<p>
  <strong>Number district:</strong>
  <%= @anhousehold.number_district %>
</p>

<p>
  <strong>Danalog:</strong>
  <%= @anhousehold.danalog %>
</p>

<p>
  <strong>Darea building:</strong>
  <%= @anhousehold.darea_building %>
</p>

<p>
  <strong>Darea land:</strong>
  <%= @anhousehold.darea_land %>
</p>

<p>
  <strong>Dvalue proposition usd:</strong>
  <%= @anhousehold.dvalue_proposition_usd %>
</p>

<p>
  <strong>Dvalue proposition usd no land:</strong>
  <%= @anhousehold.dvalue_proposition_usd_no_land %>
</p>

<p>
  <strong>Dvalue proposition usd kvm:</strong>
  <%= @anhousehold.dvalue_proposition_usd_kvm %>
</p>

<p>
  <strong>Dcategory repair:</strong>
  <%= @anhousehold.dcategory_repair %>
</p>

<p>
  <strong>Dsource information:</strong>
  <%= @anhousehold.dsource_information %>
</p>

<p>
  <strong>Zanalog:</strong>
  <%= @anhousehold.zanalog %>
</p>

<p>
  <strong>Zarea:</strong>
  <%= @anhousehold.zarea %>
</p>

<p>
  <strong>Zpurpose:</strong>
  <%= @anhousehold.zpurpose %>
</p>

<p>
  <strong>Zvalue proposition usd:</strong>
  <%= @anhousehold.zvalue_proposition_usd %>
</p>

<p>
  <strong>Zsource information:</strong>
  <%= @anhousehold.zsource_information %>
</p>

<p>
  <strong>Zvalue proposition usd kvm:</strong>
  <%= @anhousehold.zvalue_proposition_usd_kvm %>
</p>

<%= link_to 'Edit', edit_anhousehold_path(@anhousehold) %> |
<%= link_to 'Back', anhouseholds_path %>
