<h1>Listing kolrooms</h1>

<table>
  <thead>
    <tr>
      <th>Num analog</th>
      <th>O1</th>
      <th>O2</th>
      <th>O3</th>
      <th>O4</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @kolrooms.each do |kolroom| %>
      <tr>
        <td><%= kolroom.num_analog %></td>
        <td><%= kolroom.o1 %></td>
        <td><%= kolroom.o2 %></td>
        <td><%= kolroom.o3 %></td>
        <td><%= kolroom.o4 %></td>
        <td><%= link_to 'Show', kolroom %></td>
        <td><%= link_to 'Edit', edit_kolroom_path(kolroom) %></td>
        <td><%= link_to 'Destroy', kolroom, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Kolroom', new_kolroom_path %>
