<p id="notice"><%= notice %></p>

<p>
  <strong>Num analog:</strong>
  <%= @kolroom.num_analog %>
</p>

<p>
  <strong>O1:</strong>
  <%= @kolroom.o1 %>
</p>

<p>
  <strong>O2:</strong>
  <%= @kolroom.o2 %>
</p>

<p>
  <strong>O3:</strong>
  <%= @kolroom.o3 %>
</p>

<p>
  <strong>O4:</strong>
  <%= @kolroom.o4 %>
</p>

<%= link_to 'Edit', edit_kolroom_path(@kolroom) %> |
<%= link_to 'Back', kolrooms_path %>
