<div class="span12">
  <h3 align="center">Расчеты квартиры</h3>
  <h5 align="center">
    <%= link_to "Распечатать", calc_apartment_print_path, class: "button large bg-green" %>
  </h5>
  <div class="panel" data-role="panel">
    <div class="panel-header bg-cyan">
      Расчеты
    </div>
    <div class="panel-content">
      <div align="center">
        <%= will_paginate @earths %>
      </div>
      <% @earths.each do |earth| %>
          <h2>Інформація про об'єкт оцінки </h2>
          <table class="table table-striped table-hover hovered striped bordered">
            <thead>
            <tr>
              <th>Тип обеспечення</th>
              <th>Номер рахунку</th>
              <th>Область</th>
              <th>Населений пункт</th>
              <th>Вулиця</th>
              <th>Общая площадь,кв. м.</th>
              <th>№ района</th>
              <th>Действие</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><%= earth.tip %></td>
              <td><%= earth.code_provision %></td>
              <td><%= earth.region %></td>
              <td><%= earth.city %></td>
              <td><%= earth.street_name %></td>
              <td><%= apartment.total_area %></td>
              <td><%= apartment.district_number %></td>
              <td><%= link_to 'Изменить', edit_earth_path(earth), class: "button normal bg-orange" %></td>
            </tr>
            </tbody>
          </table>
          <h2>Розрахунок вартості обекта оцінки</h2>
          <table class="table table-striped table-hover hovered striped bordered">
            <thead>
            <tr>
              <td colspan="2">Розрахунки</td>
              <td colspan="6">Коригування</td>
            </tr>
            <tr>
              <th>Аналоги, адреса</th>
              <th>Вартість пропозиції, кв.м.</th>
              <th>Торг</th>
              <th>Тип будинку</th>
              <th>Вартість ремонтно - оздоблювальних робіт</th>
              <th>Знаходження об'єкту порівняння в межах будинку поверх</th>
              <th>Коригування на відмінність в кількості кімнат</th>
              <th>Скоригована вартість пропозиції, 1 кв.м. дол. США</th>
              <th>Действие</th>
            </tr>
            </thead>
            <tbody>
            <% @cearth.where(earth_id: earth.id).each do |cearth| %>
                <tr>
                  <td><%= cearth.aneart.analogs_address %></td>
                  <td><%= number_with_precision(cearth.aneart.value_proposition_usdone, precision: 2)  %></td>
                  <td><%= cearth.auction %>%</td>
                  <td><%= cearth.location %>%</td>
                  <td><%= cearth.infrastructure %></td>
                  <td><%= cearth.diff_area %>%</td>
                  <td><%= cearth.rooms %>%</td>
                  <td><%= number_with_precision(capartment.adj_cost_value, precision: 2)  %></td>
                  <td><%= link_to 'Edit', edit_capartment_path(capartment), class: "button normal bg-orange" %></td>
                </tr>

            <% end %>
            </tbody>
          </table>
          Середнє арифметичне значення 1 кв. <%= number_with_precision(apartment.median, precision: 2)  %><br/>
          Ринкова вартість, дол.США <%= number_with_precision(apartment.usd_market_value, precision: 2)  %><br/>
          Ринкова вартість, грн <%= number_with_precision(apartment.uah_market_value, precision: 2)  %><br/>
          Ринкова вартість, евро <%= number_with_precision(apartment.euro_market_value, precision: 2)  %>
          <div align="center">
            *********************************************************
          </div>

      <% end %>
      <div align="center">
        <%= will_paginate @earths %>
      </div>
    </div>
  </div>
</div>