<div class="span12">
  <h3 align="center">Расчеты квартиры</h3>
  <h5 align="center">
        <%= link_to "Распечатать", calc_apartment_print_path, class: "button large bg-green" %>
  </h5>
<div class="panel" data-role="panel">
  <div class="panel-header bg-cyan">
   Расчеты
  </div>
  <div class="panel-content">
<div align="center">
  <%= will_paginate @apartments %>
</div>
<% @apartments.each do |apartment| %>
    <h2>Інформація про об'єкт оцінки </h2>
    <table class="table table-striped table-hover hovered striped bordered">
      <thead>
      <tr>
        <th>Код забеспечення</th>
        <th>Номер рахунку</th>
        <th>Область</th>
        <th>Населений пункт</th>
        <th>Вулиця</th>
        <th>№ будинку</th>
        <th>№ квартири</th>
        <th>Загальна площа</th>
        <th>Тип будинку</th>
        <th>Поверх/поверхівість</th>
        <th>№ района</th>
        <th>Действие</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><%= apartment.code_provision %></td>
        <td><%= apartment.account_number %></td>
        <td><%= apartment.region %></td>
        <td><%= apartment.city %></td>
        <td><%= apartment.street_name %></td>
        <td><%= apartment.number_house2 %></td>
        <td><%= apartment.room_apartment %></td>
        <td><%= apartment.area %></td>
        <td><%= apartment.series_home %></td>
        <td><%= apartment.storey %>/<%= apartment.floors %></td>
        <td><%= apartment.district_number %></td>
        <td><%= link_to 'Edit', edit_apartment_path(apartment), class: "button normal bg-orange" %></td>
      </tr>
      </tbody>
    </table>
        <h2>Інформація про об'єкти порівняння(аналоги)</h2>
        <table class="table table-striped table-hover hovered striped bordered">
          <thead>
          <tr>
            <th>Місце розташування аналога</th>
            <th>Джерело інформації</th>
            <th>Площа,кв.м.</th>
            <th>Кількість кімнат</th>
            <th>Вартість аналога(дол.США)</th>
            <th>Поверх</th>
            <th>Поверховість</th>
            <th>Тип</th>
            <th>Категорія ремонту</th>
            <th>Вартість 1 м.кв.(дол. США)</th>
          </tr>
          </thead>
          <tbody>

          <% @anaprtments.where(district_number: apartment.district_number).each do |anaprtment| %>
              <tr>

                <td><%= anaprtment.location %></td>
                <td><%= anaprtment.source %></td>
                <td><%= anaprtment.area %></td>
                <td><%= anaprtment.number_rooms %></td>
                <td><%= number_with_precision(anaprtment.cost_analogue_usd, precision: 2) %></td>
                <td><%= anaprtment.floor %></td>
                <td><%= anaprtment.storeys %></td>
                <td><%= anaprtment.building_type %></td>
                <td><%= anaprtment.category_repair %></td>
                <td><%= number_with_precision(anaprtment.cost_one, precision: 2) %></td>
              </tr>
          <% end %>
          </tbody>
        </table>
    <h2>Розрахунок вартості обекта оцінки</h2>
    <table class="table table-striped table-hover hovered striped bordered">
      <thead>
      <tr>
        <td colspan="2">Розрахунки</td>
        <td colspan="6">Коригування</td>
      </tr>
      <tr>
        <th>Аналоги, адреса</th>
        <th>Вартість пропозиції, кв.м.</th>
        <th>Торг</th>
        <th>Тип будинку</th>
        <th>Вартість ремонтно - оздоблювальних робіт</th>
        <th>Знаходження об'єкту порівняння в межах будинку поверх</th>
        <th>Коригування на відмінність в кількості кімнат</th>
        <th>Скоригована вартість пропозиції, 1 кв.м. дол. США</th>
        <th>Действие</th>
      </tr>
      </thead>
      <tbody>
      <% @capartments.where(apartment_id: apartment.id).each do |capartment| %>
      <tr>
        <td><%= capartment.anaprtment.location %></td>
        <td><%= number_with_precision(capartment.anaprtment.cost_one, precision: 2)  %></td>
        <td><%= capartment.auction %>%</td>
        <td><%= capartment.tip_house %>%</td>
        <td><%= capartment.value_repair %></td>
        <td><%= capartment.storey %>%</td>
        <td><%= capartment.rooms %>%</td>
        <td><%= number_with_precision(capartment.adj_cost_value, precision: 2)  %></td>
        <td><%= link_to 'Edit', edit_capartment_path(capartment), class: "button normal bg-orange" %></td>
      </tr>

      <% end %>
      </tbody>
    </table>
        Середнє арифметичне значення 1 кв. <%= number_with_precision(apartment.median, precision: 0)  %><br/>
        Ринкова вартість, дол.США <%= number_with_precision(apartment.usd_market_value, precision: 0)  %><br/>
        Ринкова вартість, грн <%= number_with_precision(apartment.uah_market_value, precision: 0)  %><br/>
        Ринкова вартість, евро <%= number_with_precision(apartment.euro_market_value, precision: 0)  %>
        <div align="center">
          *********************************************************
        </div>

  <% end %>
<div align="center">
  <%= will_paginate @apartments %>
</div>
  </div>
</div>
</div>