<% provide(:css, 'css/style_calc.css' ) %>
      <% @earths.each do |earth| %>
          <div class="print">
          <h2>Інформація про об'єкт оцінки </h2>
          <table class="table table-striped table-hover hovered striped bordered">
            <thead>
            <tr>
              <th>Тип обеспечення</th>
              <th>Номер рахунку</th>
              <th>Область</th>
              <th>Населений пункт</th>
              <th>Вулиця</th>
              <th>Общая площадь,кв. м.</th>
              <th>№ района</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><%= earth.tip %></td>
              <td><%= earth.code_provision %></td>
              <td><%= earth.region %></td>
              <td><%= earth.city %></td>
              <td><%= earth.street_name %></td>
              <td><%= earth.area_land.to_s.to_d*10000 %></td>
              <td><%= earth.district_number %></td>
            </tr>
            </tbody>
          </table>
          <h2>Інформація про об'єкти порівняння(аналоги)</h2>
          <table class="table table-striped table-hover hovered striped bordered">
            <thead>
            <tr>
              <th>Аналоги, адреса</th>
              <th>Площа землі, кв.м.</th>
              <th>Вартість пропозиції(дол.США)</th>
              <th>Вартість 1 м.кв.(дол. США)</th>
              <th>Джерело інформації</th>
            </tr>
            </thead>
            <tbody>

            <% @anearths.where(district_number: earth.district_number).each do |anearth| %>
                <tr>

                  <td><%= anearth.analogs_address %></td>
                  <td><%= anearth.area %></td>
                  <td><%= anearth.value_proposition_usd %></td>
                  <td><%= anearth.value_proposition_usdone %></td>
                  <td><%= anearth.information_source[0..45] %>..</td>
                </tr>
            <% end %>
            </tbody>
          </table>
          <h2>Розрахунок вартості обекта оцінки</h2>
          <table class="table table-striped table-hover hovered striped bordered">
            <thead>
            <tr>
              <td colspan="2">Розрахунки</td>
              <td colspan="6">Коригування</td>
            </tr>
            <tr>
              <th>Аналоги, адреса</th>
              <th>Вартість пропозиції, кв.м.</th>
              <th>Торг</th>
              <th>Місцезнаходження</th>
              <th>Наявність інфраструктури</th>
              <th>На відмінність площ</th>
              <th>Скоригована вартість пропозиції, 1 кв.м. дол. США</th>
            </tr>
            </thead>
            <tbody>
            <% @cearths.where(earth_id: earth.id).each do |cearth| %>
                <tr>
                  <td><%= cearth.aneart.analogs_address %></td>
                  <td><%= number_with_precision(cearth.aneart.value_proposition_usdone, precision: 2)  %></td>
                  <td><%= cearth.auction %></td>
                  <td><%= cearth.location %></td>
                  <td><%= cearth.infrastructure %></td>
                  <td><%= cearth.diff_area %></td>
                  <td><%= number_with_precision(cearth.adj_cost_value, precision: 2)  %></td>
                </tr>

            <% end %>
            </tbody>
          </table>
          Середнє арифметичне значення 1 кв. <%= number_with_precision(earth.median, precision: 0)  %><br/>
          Ринкова вартість, дол.США <%= number_with_precision(earth.usd_market_value, precision: 0)  %><br/>
          Ринкова вартість, грн <%= number_with_precision(earth.uah_market_value, precision: 0)  %><br/>
          Ринкова вартість, евро <%= number_with_precision(earth.euro_market_value, precision: 0)  %>
          <div align="center">
            *********************************************************
          </div>
</div>
      <% end %>
