<% provide(:css, 'css/house_print.css' ) %>
<% @houses.each do |house| %>
          <div class="print">
          <h2>Інформація про об'єкт оцінки </h2>
          <table class="table table-striped table-hover hovered striped bordered">
            <thead>
            <tr>
              <th>Тип обеспечення</th>
              <th>Код обеспечення</th>
              <th>Область</th>
              <th>Населений пункт</th>
              <th>Вулиця</th>
              <th>Общая площадь,кв. м.</th>
              <th>Категорія ремонту</th>
              <th>№ района</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td><%= house.tip %></td>
              <td><%= house.code_provision %></td>
              <td><%= house.region %></td>
              <td><%= house.city %></td>
              <td><%= house.street_name %></td>
              <td><%= house.total_area %></td>
              <td><%= house.category_repair %></td>
              <td><%= house.district_number %></td>
            </tr>
            </tbody>
          </table>
          <h2>Інформація про об'єкти порівняння(аналоги)</h2>
          <table class="table table-striped table-hover hovered striped bordered">
            <thead>
            <tr>
              <th>Аналоги, адреса</th>
              <th>Площа будівлі, кв.м.</th>
              <th>Площа землі, кв.м.</th>
              <th>Вартість пропозиції(дол.США)</th>
              <th>Вартість пропозиції без землі (дол.США)</th>
              <th>Вартість пропозиції без землі за 1 м.кв.(дол. США)</th>
              <th>Категорія ремонту</th>
              <th>Джерело інформації</th>
            </tr>
            </thead>
            <tbody>

            <% @anhouses.where(number_district: house.district_number).each do |anhouse| %>
                <tr>

                  <td><%= anhouse.danalog %></td>
                  <td><%= anhouse.darea_building %></td>
                  <td><%= anhouse.darea_land %></td>
                  <td><%= number_with_precision(anhouse.dvalue_proposition_usd, precision: 2)  %></td>
                  <td><%= number_with_precision(anhouse.dvalue_proposition_usd_no_land, precision: 2)  %></td>
                  <td><%= number_with_precision(anhouse.dvalue_proposition_usd_kvm, precision: 2)  %></td>
                  <td><%= anhouse.dcategory_repair %></td>
                  <td><%= anhouse.dsource_information %></td>
                </tr>
            <% end %>
            </tbody>
          </table>
          <h2>Розрахунок вартості обекта оцінки</h2>
          <table class="table table-striped table-hover hovered striped bordered">
            <thead>
            <tr>
              <td colspan="2">Розрахунки</td>
              <td colspan="6">Коригування</td>
            </tr>
            <tr>
              <th>Аналоги, адреса</th>
              <th>Вартість пропозиції, кв.м.</th>
              <th>Торг</th>
              <th>Місцезнаходження</th>
              <th>Наявність інфраструктури</th>
              <th>На відмінність площ</th>
              <th>Категорія ремонту</th>
              <th>Скоригована вартість пропозиції, 1 кв.м. дол. США</th>
            </tr>
            </thead>
            <tbody>
            <% @chouse.where(house_id: house.id).each do |chouse| %>
                <tr>
                  <td><%= chouse.anhousehold.danalog %></td>
                  <td><%= number_with_precision(chouse.anhousehold.dvalue_proposition_usd_kvm, precision: 2)  %></td>
                  <td><%= chouse.auction %></td>
                  <td><%= chouse.location %></td>
                  <td><%= chouse.infrastructure %></td>
                  <td><%= chouse.diff_area %></td>
                  <td><%= chouse.category_repair %></td>
                  <td><%= number_with_precision(chouse.adj_cost_value, precision: 2)  %></td>
                </tr>

            <% end %>
            </tbody>
          </table>
          Середнє арифметичне значення 1 кв. <%= house.median.round %><br/>
          Ринкова вартість, дол.США <%= house.usd_market_value.round %><br/>
          Ринкова вартість, грн <%= house.uah_market_value.round %><br/>
          Ринкова вартість, евро <%= house.euro_market_value.roundss %>

          </div>
      <% end %>