<% provide(:title, 'All users') %>
<h3 align="center"><%= 'Пользователи системы' %> (<span class="badge"><%= @users.count %></span>)</h3>
<% if current_user.try(:admin?) %>

    <table class="table table-striped table-hover hovered striped bordered">
      <thead>
      <tr>
        <th><%= (t :name) %></th>
        <th><%= (t :email) %></th>
        <th><%= (t :created_at) %></th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <div align="center">
        <%= will_paginate %>
      </div>

      <tbody>
      <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td>
              <%= user.email %>
            </td>
            <td><%= user.created_at %></td>
            <td><%= link_to (I18n.t 'button.show'), user, class: "button normal bg-blue fg-white" %></td>
            <td><%= link_to (I18n.t 'button.edit'), edit_user_path(user), class: "button normal bg-orange fg-white" %></td>
            <td><%= link_to (I18n.t 'button.delete'), user, method: :delete, data: {confirm: 'Are you sure?'}, class: "button normal bg-red fg-white" %></td>
          </tr>
      <% end %>

      </tbody>
    </table>
<% else %>
<% end %>
<div align="center">
  <%= will_paginate %>
</div>