<% provide(:title, 'Sign up') %>
<h3 align="center"><%= t :sign_up %>!</h3>

<div class="row" style="margin-right: 0px; margin-left: 0px;">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label 'Имя' %>
        <%= f.text_field :name %>

        <%= f.label 'e-mail' %>
        <%= f.text_field :email %>

        <%= f.label 'Пароль' %>
        <%= f.password_field :password %>

        <%= f.label 'Подтверждение пароля' %>
        <%= f.password_field :password_confirmation %>

          <%= f.hidden_field :verification, :value => false %>

        <%= f.submit (t 'button.ok'), class: "image-button info fg-white" %>
    <% end %>

  </div>
</div>