<%= form_for(@cearth) do |f| %>
  <% if @cearth.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cearth.errors.count, "error") %> prohibited this cearth from being saved:</h2>

      <ul>
      <% @cearth.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Торг' %><br>
    <%= f.number_field :auction %>
  </div>
  <div class="field">
    <%= f.label 'Місцезнаходження' %><br>
    <%= f.number_field :location %>
  </div>
  <div class="field">
    <%= f.label 'Наявність інфраструктури' %><br>
    <%= f.number_field :infrastructure %>
  </div>
  <div class="field">
    <%= f.label 'На відмінність площ' %><br>
    <%= f.number_field :diff_area %>
  </div>
  <div class="field">
    <%= f.label 'Скоригована вартість пропозиції' %><br>
    <%= f.text_field :adj_cost_value %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
