<h1>Listing tiphouses</h1>

<table>
  <thead>
    <tr>
      <th>Num analog</th>
      <th>O1</th>
      <th>O2</th>
      <th>O3</th>
      <th>O4</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tiphouses.each do |tiphouse| %>
      <tr>
        <td><%= tiphouse.num_analog %></td>
        <td><%= tiphouse.o1 %></td>
        <td><%= tiphouse.o2 %></td>
        <td><%= tiphouse.o3 %></td>
        <td><%= tiphouse.o4 %></td>
        <td><%= link_to 'Show', tiphouse %></td>
        <td><%= link_to 'Edit', edit_tiphouse_path(tiphouse) %></td>
        <td><%= link_to 'Destroy', tiphouse, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tiphouse', new_tiphouse_path %>
