<div class="panel" data-role="panel">
  <div class="panel-header bg-cyan fg-white">
     Тип дома
  </div>
  <div class="panel-content">
    <table class="table table-striped table-hover hovered striped bordered">
  <thead>
  <tr>
    <th rowspan="2">Аналог</th>
    <th colspan="5">Об'єкт оцінки</th>
  </tr>
    <tr>
      <th>1</th>
      <th>2</th>
      <th>3</th>
      <th>4</th>
      <th>Действия</th>
    </tr>
  </thead>

  <tbody>
    <% @tiphouses.each do |tiphouse| %>
      <tr>
        <td><%= tiphouse.num_analog %></td>
        <td><%= tiphouse.o1 %>%</td>
        <td><%= tiphouse.o2 %>%</td>
        <td><%= tiphouse.o3 %>%</td>
        <td><%= tiphouse.o4 %>%</td>
        <td><%= link_to 'Изменить', edit_tiphouse_path(tiphouse), class: "button normal bg-orange fg-white" %><br/>
      </tr>
    <% end %>
  </tbody>
</table>

</div>
</div>
