<p id="notice"><%= notice %></p>

<p>
  <strong>Num analog:</strong>
  <%= @tiphouse.num_analog %>
</p>

<p>
  <strong>O1:</strong>
  <%= @tiphouse.o1 %>
</p>

<p>
  <strong>O2:</strong>
  <%= @tiphouse.o2 %>
</p>

<p>
  <strong>O3:</strong>
  <%= @tiphouse.o3 %>
</p>

<p>
  <strong>O4:</strong>
  <%= @tiphouse.o4 %>
</p>

<%= link_to 'Edit', edit_tiphouse_path(@tiphouse) %> |
<%= link_to 'Back', tiphouses_path %>
