
<div class="span12">
  <h1>Земля</h1>
  <div class="row">
    <div class="span6">
      <div class="panel" data-role="panel">
        <div class="panel-header bg-lime">
          <%= (I18n.t 'button.import') %> *.XLS
        </div>
        <div class="panel-content">
          <%= form_tag import_earths_path, multipart: true do %>
              <%= file_field_tag :file %>
              <%= submit_tag (I18n.t 'button.import'), class: "button large" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="panel" data-role="panel">
        <div class="panel-header bg-lightOrange">
          <%= (I18n.t 'button.download') %> *.XLS
        </div>
        <div class="panel-content">

          <button class="image-button primary">
            <%= link_to (I18n.t 'button.download') , earths_path(format: "xls")%>
            <i class="icon-download-2"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="panel" data-role="panel">
    <div class="panel-header bg-yellow">
      <%= 'Обработка загруженных данных' %>
    </div>
    <div class="panel-content">
      <div class="row">
        <div class="span6">
          <h5 align="center"><%= link_to "Обработать данные", earths_path, class: "button large bg-green" %></h5>
          <h5 align="center"><%= "Статус обработки..." %></h5>
          <div class="progress-bar large" data-role="progress-bar" data-color="bg-green">20%</div>
        </div>
        <div class="span6">
          <% if @earths.empty?%>
          <% else %>
              <%= link_to "Очистить базу", earth_destroy_all_index_path, data: { confirm: 'Are you sure?' }, class: "button large bg-red" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="panel" data-role="panel">
  <div class="panel-header bg-cyan">
    Список земель
  </div>
  <div class="panel-content">
    <div align="center">
      <%= will_paginate %>
    </div>
    <table class="table table-striped table-hover hovered striped bordered">
  <thead>
    <tr>
      <th>Kод oбеспечення</th>
      <th>Тип обеспечения</th>
      <th>Область</th>
      <th>Район</th>
      <th>Город</th>
      <th>Тип улицы</th>
      <th>Название улицы</th>
      <th>Название улицы</th>
      <th>Номер дома</th>
      <th>Номер корпуса</th>
      <th>Номер квартиры</th>
      <th>Общая площадь, кв.м</th>
      <th>Жилая площадь, кв.м</th>
      <th>Площадь земельного участка, Га</th>
      <th>№ района</th>
      <th>Категория ремонту</th>
      <th>Рыночная стоимость, грн</th>
      <th>Рыночная стоимость, дол.США</th>
      <th>Рыночная стоимость, евро</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @earths.each do |earth| %>
      <tr>
        <td><%= earth.code_provision %></td>
        <td><%= earth.tip %></td>
        <td><%= earth.region %></td>
        <td><%= earth.district %></td>
        <td><%= earth.city %></td>
        <td><%= earth.street_type %></td>
        <td><%= earth.street_name %></td>
        <td><%= earth.street_name2 %></td>
        <td><%= earth.number_home %></td>
        <td><%= earth.number_housing%></td>
        <td><%= earth.room_apartment %></td>
        <td><%= earth.total_area %></td>
        <td><%= earth.floor_area %></td>
        <td><%= earth.area_land %></td>
        <td><%= earth.district_number %></td>
        <td><%= earth.category_repair %></td>
        <td><%= earth.uah_market_value %></td>
        <td><%= earth.usd_market_value %></td>
        <td><%= earth.euro_market_value %></td>
        <td><%= link_to 'Edit', edit_earth_path(earth) %>
        <br/><%= link_to 'Destroy', earth, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<div align="center">
  <%= will_paginate %>
</div>
</div>
</div>