
<div class="span12">
  <h3 align="center">Земля</h3>
  <div class="row">
    <div class="span4">
      <div class="panel" data-role="panel">
        <div class="panel-header bg-lime fg-white">
          <%= (I18n.t 'button.import') %> *.XLS
        </div>
        <div class="panel-content">
          <div class="row">
            <div class="span6">
          <%= form_tag import_earths_path, multipart: true do %>
              <%= file_field_tag :file %>
              <%= submit_tag (I18n.t 'button.import'), class: "button default fg-white" %>
          <% end %>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="panel" data-role="panel">
        <div class="panel-header bg-lightOrange fg-white">
          <%= (I18n.t 'button.download') %> (*.XLS for Microsoft office)
        </div>
        <div class="panel-content">
          <h5 align="center">
          <button class="image-button primary">
            <%= link_to (I18n.t 'button.download') + ' *CSV' , earths_path(format: "csv")%>
            <i class="icon-download-2"></i>
          </button>
          <button class="image-button primary">
            <%= link_to (I18n.t 'button.download') + ' *XLS' , earths_path(format: "xls")%>
            <i class="icon-download-2"></i>
          </button>
          </h5>
        </div>
      </div>
    </div>
    <div class="span4">
      <div class="panel" data-role="panel">
        <div class="panel-header bg-yellow fg-white">
          <%= 'Обработка загруженных данных' %>
        </div>
        <div class="panel-content">
          <div class="row">
            <div class="span6">
              <h5 align="center">
                <% if @cearths.empty? %>
                    <button class="button default bg-green fg-white">
                      <%= link_to "Обработать данные", processing_earth_path %>
                      <i class="icon-stats"></i>
                    </button>
                <% else %>
                    <button class="button default bg-green fg-white">
                      <%= link_to "Расчеты", calc_earths_path %>
                      <i class="icon-calculate"></i>
                    </button>
                <% end %>

              </h5>
            </div>
            <div class="span6">
              <h5 align="center">
              <% if @cearths.empty?%>
              <% else %>
                    <button class="button default bg-red fg-white">
                  <%= link_to "Очистить базу", earths_destroy_all_index_path, data: { confirm: 'Are you sure?' } %>
                    <i class="icon-remove"></i>
                    </button>
              <% end %>
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="panel" data-role="panel">
  <div class="panel-header bg-cyan fg-white">
    Список земель
  </div>
  <div class="panel-content">
    <div align="center">
      <%= will_paginate %>
    </div>
    <div class="overflow">
    <table class="table table-striped table-hover hovered striped bordered">
  <thead>
    <tr>
      <th>Kод oбеспечення</th>
      <th>Тип обеспечения</th>
      <th>Область</th>
      <th>Район</th>
      <th>Город</th>
      <th>Тип улицы</th>
      <th>Название улицы</th>
      <th>Название улицы</th>
      <th>Номер дома</th>
      <th>Номер корпуса</th>
      <th>Номер квартиры</th>
      <th>Общая площадь, кв.м</th>
      <th>Жилая площадь, кв.м</th>
      <th>Площадь земельного участка, Га</th>
      <th>№ района</th>
      <th>Категория ремонту</th>
      <th>Рыночная стоимость, грн</th>
      <th>Рыночная стоимость, дол.США</th>
      <th>Рыночная стоимость, евро</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @earths.each do |earth| %>
      <tr>
        <td><%= earth.code_provision %></td>
        <td><%= earth.tip %></td>
        <td><%= earth.region %></td>
        <td><%= earth.district %></td>
        <td><%= earth.city %></td>
        <td><%= earth.street_type %></td>
        <td><%= earth.street_name %></td>
        <td><%= earth.street_name2 %></td>
        <td><%= earth.number_home %></td>
        <td><%= earth.number_housing%></td>
        <td><%= earth.room_apartment %></td>
        <td><%= earth.total_area %></td>
        <td><%= earth.floor_area %></td>
        <td><%= earth.area_land %></td>
        <td><%= earth.district_number %></td>
        <td><%= earth.category_repair %></td>
        <td><%= press( earth.uah_market_value)%></td>
        <td><%= press(earth.usd_market_value) %></td>
        <td><%= press(earth.euro_market_value) %></td>
        <td><%= link_to 'Edit', edit_earth_path(earth), class: "button normal bg-orange fg-white" %></td>
        <td><%= link_to 'Destroy', earth, method: :delete, data: { confirm: 'Are you sure?' }, class: "button normal bg-red fg-white" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div align="center">
  <%= will_paginate %>
</div>
</div>
</div>
</div>