<p id="notice"><%= notice %></p>

<p>
  <strong>Code provision:</strong>
  <%= @earth.code_provision %>
</p>

<p>
  <strong>Tip:</strong>
  <%= @earth.tip %>
</p>

<p>
  <strong>Region:</strong>
  <%= @earth.region %>
</p>

<p>
  <strong>District:</strong>
  <%= @earth.district %>
</p>

<p>
  <strong>City:</strong>
  <%= @earth.city %>
</p>

<p>
  <strong>Street type:</strong>
  <%= @earth.street_type %>
</p>

<p>
  <strong>Street name:</strong>
  <%= @earth.street_name %>
</p>

<p>
  <strong>Street name2:</strong>
  <%= @earth.street_name2 %>
</p>

<p>
  <strong>Namber home:</strong>
  <%= @earth.namber_home %>
</p>

<p>
  <strong>Number:</strong>
  <%= @earth.number %>
</p>

<p>
  <strong>Housing:</strong>
  <%= @earth.housing %>
</p>

<p>
  <strong>Room apartment:</strong>
  <%= @earth.room_apartment %>
</p>

<p>
  <strong>Total area:</strong>
  <%= @earth.total_area %>
</p>

<p>
  <strong>Floor area:</strong>
  <%= @earth.floor_area %>
</p>

<p>
  <strong>Area land:</strong>
  <%= @earth.area_land %>
</p>

<p>
  <strong>District number:</strong>
  <%= @earth.district_number %>
</p>

<p>
  <strong>Kategorіya repair:</strong>
  <%= @earth.kategorіya_repair %>
</p>

<p>
  <strong>Uah market value:</strong>
  <%= @earth.uah_market_value %>
</p>

<p>
  <strong>Usd market value:</strong>
  <%= @earth.usd_market_value %>
</p>

<p>
  <strong>Euro market value:</strong>
  <%= @earth.euro_market_value %>
</p>

<%= link_to 'Edit', edit_earth_path(@earth) %> |
<%= link_to 'Back', earths_path %>
