<%= form_for(@system) do |f| %>
  <% if @system.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@system.errors.count, "error") %> prohibited this system from being saved:</h2>

      <ul>
      <% @system.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Торг для квартир' %><br>
    <%= f.text_field :torg_apartment %>
  </div>
  <div class="field">
    <%= f.label 'Торг для земли' %><br>
    <%= f.text_field :torg_earth %>
  </div>
  <div class="field">
    <%= f.label 'Торг для дома' %><br>
    <%= f.text_field :torg_house %>
  </div>
  <div class="field">
    <%= f.label 'Этажность для квартир' %><br>
    <%= f.text_field :floor_apartment %>
  </div>
    <div class="field">
      <%= f.label 'Местоположение для земли' %><br>
      <%= f.text_field :location %>
    </div>
    <div class="field">
      <%= f.label 'Инфраструктура для земли' %><br>
      <%= f.text_field :infrastructure %>
    </div>
    <div class="field">
      <%= f.label 'Местоположение для Домов' %><br>
      <%= f.text_field :location_house %>
    </div>
    <div class="field">
      <%= f.label 'Инфраструктура для Домов' %><br>
      <%= f.text_field :infrastructura_house %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
