<p id="notice"><%= notice %></p>

<p>
  <strong>Auction:</strong>
  <%= @chouse.auction %>
</p>

<p>
  <strong>Location:</strong>
  <%= @chouse.location %>
</p>

<p>
  <strong>Infrastructure:</strong>
  <%= @chouse.infrastructure %>
</p>

<p>
  <strong>Diff area:</strong>
  <%= @chouse.diff_area %>
</p>

<p>
  <strong>Category repair:</strong>
  <%= @chouse.category_repair %>
</p>

<p>
  <strong>Adj cost value:</strong>
  <%= @chouse.adj_cost_value %>
</p>

<p>
  <strong>Median:</strong>
  <%= @chouse.median %>
</p>

<p>
  <strong>Money usd:</strong>
  <%= @chouse.money_usd %>
</p>

<p>
  <strong>Money euro:</strong>
  <%= @chouse.money_euro %>
</p>

<p>
  <strong>Money uah:</strong>
  <%= @chouse.money_uah %>
</p>

<p>
  <strong>House:</strong>
  <%= @chouse.house_id %>
</p>

<p>
  <strong>Anhousehold:</strong>
  <%= @chouse.anhousehold_id %>
</p>

<%= link_to 'Edit', edit_chouse_path(@chouse) %> |
<%= link_to 'Back', chouses_path %>
