<p id="notice"><%= notice %></p>

<p>
  <strong>District number:</strong>
  <%= @anaprtment.district_number %>
</p>

<p>
  <strong>Numberpp:</strong>
  <%= @anaprtment.numberpp %>
</p>

<p>
  <strong>Location:</strong>
  <%= @anaprtment.location %>
</p>

<p>
  <strong>Source:</strong>
  <%= @anaprtment.source %>
</p>

<p>
  <strong>Area:</strong>
  <%= @anaprtment.area %>
</p>

<p>
  <strong>Number rooms:</strong>
  <%= @anaprtment.number_rooms %>
</p>

<p>
  <strong>Cost analogue usd:</strong>
  <%= @anaprtment.cost_analogue_usd %>
</p>

<p>
  <strong>Floor:</strong>
  <%= @anaprtment.floor %>
</p>

<p>
  <strong>Storeys:</strong>
  <%= @anaprtment.storeys %>
</p>

<p>
  <strong>Building type:</strong>
  <%= @anaprtment.building_type %>
</p>

<p>
  <strong>Category repair:</strong>
  <%= @anaprtment.category_repair %>
</p>

<p>
  <strong>Cost one:</strong>
  <%= @anaprtment.cost_one %>
</p>

<%= link_to 'Edit', edit_anaprtment_path(@anaprtment) %> |
<%= link_to 'Back', anaprtments_path %>
