<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Col 1 s</Data></Cell>
        <Cell><Data ss:Type="String">Col 2 i</Data></Cell>
        <Cell><Data ss:Type="String">Col 3 ru - на русском</Data></Cell>
      </Row>
      <% @tests.each do |test| %>
          <Row>
            <Cell><Data ss:Type="Number"><%= test.id %></Data></Cell>
            <Cell><Data ss:Type="String"><%= test.col_1_s %></Data></Cell>
            <Cell><Data ss:Type="String"><%= test.col_2_i %></Data></Cell>
            <Cell><Data ss:Type="Number"><%= test.col_3_ru %></Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>

<table border="1">
  <tr>
    <th>ID</th>
    <th>Col 1 s</th>
    <th>Col 2 i</th>
    <th>Col 3 ru - на русском</th>
  </tr>
  <% @tests.each do |test| %>
      <tr>
        <td><%= test.id %></td>
        <td><%= test.col_1_s %></td>
        <td><%= test.col_2_i %></td>
        <td><%= test.col_3_ru %></td>
      </tr>
  <% end %>
</table>