<p id="notice"><%= notice %></p>

<p>
  <strong>Col 1 s:</strong>
  <%= @test.col_1_s %>
</p>

<p>
  <strong>Col 2 i:</strong>
  <%= @test.col_2_i %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
