<p id="notice"><%= notice %></p>

<p>
  <strong>Col 1 s:</strong>
  <%= @test.col_1_s %>
</p>

<p>
  <strong>Col 2 i:</strong>
  <%= @test.col_2_i %>
</p>

<p>
  <strong>Col 3 ru:</strong>
  <%= @test.col_3_ru %>
</p>

<%= link_to (I18n.t 'button.edit'), edit_test_path(@test), class: "btn btn-sm btn-warning" %> |
<%= link_to (I18n.t 'button.back'), tests_path, class: "btn btn-sm btn-primary" %>
