<div class="well well-sm">
  <div class="row">
    <div class="col-md-6">
      <h5 align="center"><%= (I18n.t 'button.import') %> (*.CSV) or (*.XLS)</h5>
      <%= form_tag import_apartments_path, multipart: true do %>
          <%= file_field_tag :file %>
          <%= submit_tag (I18n.t 'button.import'), class: "btn btn-sm btn-primary" %>
      <% end %>
    </div>
    <div class="col-md-6">
      <!-- export to csv and xls -->
      <h5 align="center"><%= (I18n.t 'button.download') %> (*.CSV) or (*.XLS)</h5>
      <div class="panel panel-default">
        <div align="center" class="panel-body">
          <%= (I18n.t 'button.download') %> :
          <%= link_to "CSV", apartments_path(format: "csv"), class: "btn btn-xs btn-default" %> |
          <%= link_to "Excel", apartments_path(format: "xls"), class: "btn btn-xs btn-default" %>
        </div>
      </div>
      <!-- export to csv and xls -->
    </div>
    <div class="col-md-12">
      <div style="border-top: 1px solid lightgray; padding-bottom: 10px;"></div>
      <h5 align="center"><%= 'Обработка загруженных данных' %></h5>
      <h5 align="center"><%= link_to "Обработать данные", tests_path, class: "btn btn-sm btn-success" %></h5>
      <h5 align="center"><%= "Статус обработки..." %></h5>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100" style="width: 2%;">
          2%
        </div>
      </div>
    </div>
  </div>
</div>
<h3 align="center">Listing apartments</h3>

<table>
  <thead>
    <tr>
      <th>Code provision</th>
      <th>New code</th>
      <th>Account number</th>
      <th>Alt account number</th>
      <th>Tip</th>
      <th>Region</th>
      <th>District</th>
      <th>Type settlement</th>
      <th>City</th>
      <th>Street type</th>
      <th>Street name</th>
      <th>Room apartment</th>
      <th>Area</th>
      <th>Floor area</th>
      <th>Number rooms</th>
      <th>Storey</th>
      <th>Floors</th>
      <th>Series home</th>
      <th>District number</th>
      <th>Uah market value</th>
      <th>Usd market value</th>
      <th>Euro market value</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <div align="center">
    <%= will_paginate %>
  </div>
  <tbody>
    <% @apartments.each do |apartment| %>
      <tr>
        <td><%= apartment.code_provision %></td>
        <td><%= apartment.new_code %></td>
        <td><%= apartment.account_number %></td>
        <td><%= apartment.alt_account_number %></td>
        <td><%= apartment.tip %></td>
        <td><%= apartment.region %></td>
        <td><%= apartment.district %></td>
        <td><%= apartment.type_settlement %></td>
        <td><%= apartment.city %></td>
        <td><%= apartment.street_type %></td>
        <td><%= apartment.street_name %></td>
        <td><%= apartment.room_apartment %></td>
        <td><%= apartment.area %></td>
        <td><%= apartment.floor_area %></td>
        <td><%= apartment.number_rooms %></td>
        <td><%= apartment.storey %></td>
        <td><%= apartment.floors %></td>
        <td><%= apartment.series_home %></td>
        <td><%= apartment.district_number %></td>
        <td><%= apartment.uah_market_value %></td>
        <td><%= apartment.usd_market_value %></td>
        <td><%= apartment.euro_market_value %></td>
        <td><%= link_to 'Show', apartment %></td>
        <td><%= link_to 'Edit', edit_apartment_path(apartment) %></td>
        <td><%= link_to 'Destroy', apartment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  <div align="center">
    <%= will_paginate %>
  </div>
</table>

<br>

<!--<%= link_to 'New Apartment', new_apartment_path %>-->
