<h1>Listing apartments</h1>

<table>
  <thead>
    <tr>
      <th>Code provision</th>
      <th>New code</th>
      <th>Account number</th>
      <th>Alt account number</th>
      <th>Tip</th>
      <th>Region</th>
      <th>District</th>
      <th>Type settlement</th>
      <th>City</th>
      <th>Street type</th>
      <th>Street name</th>
      <th>Room apartment</th>
      <th>Area</th>
      <th>Floor area</th>
      <th>Number rooms</th>
      <th>Storey</th>
      <th>Floors</th>
      <th>Series home</th>
      <th>District number</th>
      <th>Uah market value</th>
      <th>Usd market value</th>
      <th>Euro market value</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @apartments.each do |apartment| %>
      <tr>
        <td><%= apartment.code_provision %></td>
        <td><%= apartment.new_code %></td>
        <td><%= apartment.account_number %></td>
        <td><%= apartment.alt_account_number %></td>
        <td><%= apartment.tip %></td>
        <td><%= apartment.region %></td>
        <td><%= apartment.district %></td>
        <td><%= apartment.type_settlement %></td>
        <td><%= apartment.city %></td>
        <td><%= apartment.street_type %></td>
        <td><%= apartment.street_name %></td>
        <td><%= apartment.room_apartment %></td>
        <td><%= apartment.area %></td>
        <td><%= apartment.floor_area %></td>
        <td><%= apartment.number_rooms %></td>
        <td><%= apartment.storey %></td>
        <td><%= apartment.floors %></td>
        <td><%= apartment.series_home %></td>
        <td><%= apartment.district_number %></td>
        <td><%= apartment.uah_market_value %></td>
        <td><%= apartment.usd_market_value %></td>
        <td><%= apartment.euro_market_value %></td>
        <td><%= link_to 'Show', apartment %></td>
        <td><%= link_to 'Edit', edit_apartment_path(apartment) %></td>
        <td><%= link_to 'Destroy', apartment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Apartment', new_apartment_path %>
