<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Kод oбеспечення</Data></Cell>
        <Cell><Data ss:Type="String">Новый код</Data></Cell>
        <Cell><Data ss:Type="String">Альтернативный номер счета</Data></Cell>
        <Cell><Data ss:Type="String">Тип обеспечения</Data></Cell>
        <Cell><Data ss:Type="String">Область</Data></Cell>
        <Cell><Data ss:Type="String">Район</Data></Cell>
        <Cell><Data ss:Type="String">Тип населенного пунтка</Data></Cell>
        <Cell><Data ss:Type="String">Город</Data></Cell>
        <Cell><Data ss:Type="String">Тип улицы</Data></Cell>
        <Cell><Data ss:Type="String">Название улицы</Data></Cell>
        <Cell><Data ss:Type="String">Номер дома</Data></Cell>
        <Cell><Data ss:Type="String">Номер дома</Data></Cell>
        <Cell><Data ss:Type="String">Номер квартиры</Data></Cell>
        <Cell><Data ss:Type="String">Площадь</Data></Cell>
        <Cell><Data ss:Type="String">Жилая площадь, кв.м</Data></Cell>
        <Cell><Data ss:Type="String">Кол. комнат</Data></Cell>
        <Cell><Data ss:Type="String">Этаж</Data></Cell>
        <Cell><Data ss:Type="String">Этажность</Data></Cell>
        <Cell><Data ss:Type="String">Серия дома</Data></Cell>
        <Cell><Data ss:Type="String">№ района</Data></Cell>
        <Cell><Data ss:Type="String">Рыночная стоимость, грн</Data></Cell>
        <Cell><Data ss:Type="String">Рыночная стоимость, дол.США</Data></Cell>
        <Cell><Data ss:Type="String">Рыночная стоимость, евро</Data></Cell>
      </Row>
      <% @a_apartments = Apartment.all %>
      <% @a_apartments.each do |apartment| %>
          <Row>
            <Cell><Data ss:Type="String"><td><%= apartment.code_provision %></td></Data></Cell>
            <Cell><Data ss:Type="String"><td><%= apartment.new_code %></td></Data></Cell>
            <Cell><Data ss:Type="String"><td><%= apartment.account_number %></td></Data></Cell>
            <Cell><Data ss:Type="String"><td><%= apartment.alt_account_number %></td></Data></Cell>
            <Cell><Data ss:Type="String"><td><%= apartment.tip %></td></Data></Cell>
            <Cell><Data ss:Type="String"><td><%= apartment.region %></td></Data></Cell>
            <Cell><Data ss:Type="String"><td><%= apartment.district %></td></Data></Cell>
            <Cell><Data ss:Type="String"><td><%= apartment.type_settlement %></td></Data></Cell>
            <Cell><Data ss:Type="String"><td><%= apartment.city %></td></Data></Cell>
            <Cell><Data ss:Type="String"><td><%= apartment.street_type %></td></Data></Cell>
            <Cell><Data ss:Type="String"><td><%= apartment.street_name %></td></Data></Cell>
            <Cell><Data ss:Type="String"><td><%= apartment.number_house %></td></Data></Cell>
            <Cell><Data ss:Type="String"><td><%= apartment.number_house2 %></td></Data></Cell>
            <Cell><Data ss:Type="String"><td><%= apartment.room_apartment %></td></Data></Cell>
            <Cell><Data ss:Type="String"><td><%= apartment.area %></td></Data></Cell>
            <Cell><Data ss:Type="Number"><td><%= apartment.floor_area %></td></Data></Cell>
            <Cell><Data ss:Type="String"><td><%= apartment.number_rooms %></td></Data></Cell>
            <Cell><Data ss:Type="Number"><td><%= apartment.storey %></td></Data></Cell>
            <Cell><Data ss:Type="Number"><td><%= apartment.floors %></td></Data></Cell>
            <Cell><Data ss:Type="Number"><td><%= apartment.series_home %></td></Data></Cell>
            <Cell><Data ss:Type="Number"><td><%= apartment.district_number %></td></Data></Cell>
            <Cell><Data ss:Type="Number"><td><%= press(apartment.uah_market_value) %></td></Data></Cell>
            <Cell><Data ss:Type="Number"><td><%= press(apartment.usd_market_value) %></td></Data></Cell>
            <Cell><Data ss:Type="Number"><td><%= press(apartment.euro_market_value) %></td></Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>