<p id="notice"><%= notice %></p>

<p>
  <strong>Code provision:</strong>
  <%= @apartment.code_provision %>
</p>

<p>
  <strong>New code:</strong>
  <%= @apartment.new_code %>
</p>

<p>
  <strong>Account number:</strong>
  <%= @apartment.account_number %>
</p>

<p>
  <strong>Alt account number:</strong>
  <%= @apartment.alt_account_number %>
</p>

<p>
  <strong>Tip:</strong>
  <%= @apartment.tip %>
</p>

<p>
  <strong>Region:</strong>
  <%= @apartment.region %>
</p>

<p>
  <strong>District:</strong>
  <%= @apartment.district %>
</p>

<p>
  <strong>Type settlement:</strong>
  <%= @apartment.type_settlement %>
</p>

<p>
  <strong>City:</strong>
  <%= @apartment.city %>
</p>

<p>
  <strong>Street type:</strong>
  <%= @apartment.street_type %>
</p>

<p>
  <strong>Street name:</strong>
  <%= @apartment.street_name %>
</p>

<p>
  <strong>Room apartment:</strong>
  <%= @apartment.room_apartment %>
</p>

<p>
  <strong>Area:</strong>
  <%= @apartment.area %>
</p>

<p>
  <strong>Floor area:</strong>
  <%= @apartment.floor_area %>
</p>

<p>
  <strong>Number rooms:</strong>
  <%= @apartment.number_rooms %>
</p>

<p>
  <strong>Storey:</strong>
  <%= @apartment.storey %>
</p>

<p>
  <strong>Floors:</strong>
  <%= @apartment.floors %>
</p>

<p>
  <strong>Series home:</strong>
  <%= @apartment.series_home %>
</p>

<p>
  <strong>District number:</strong>
  <%= @apartment.district_number %>
</p>

<p>
  <strong>Uah market value:</strong>
  <%= @apartment.uah_market_value %>
</p>

<p>
  <strong>Usd market value:</strong>
  <%= @apartment.usd_market_value %>
</p>

<p>
  <strong>Euro market value:</strong>
  <%= @apartment.euro_market_value %>
</p>

<%= link_to (I18n.t 'button.edit'), edit_apartments_path(@apartment), class: "btn btn-sm btn-warning" %> |
<%= link_to (I18n.t 'button.back'), apartments_path, class: "btn btn-sm btn-primary" %>
