<header class="navbar navbar-default navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <% cache "logo" do %>
      <%= link_to image_tag("cba_logo.png", alt: ""), root_path, :class => "brand" %>
      <% end %>
    </div>
    <nav>
      <ul class="nav nav-pills pull-right">
        <li><%= link_to (I18n.t 'menu.appraiser') + " " + (I18n.t 'menu.test'), tests_path %></li>
        <li><%= link_to (I18n.t 'menu.appraiser') + " " + (I18n.t 'menu.house'), tests_path %></li>
        <li><%= link_to (I18n.t 'menu.appraiser') + " " + (I18n.t 'menu.appartment'), tests_path %></li>
        <li><%= link_to (I18n.t 'menu.appraiser') + " " + (I18n.t 'menu.earth'), tests_path %></li>
      </ul>
    </nav>
  </div>
</header>